@model IEnumerable<MvcCF5.Models.ShopCart>

@{
    ViewBag.Title = "Sepetim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="min-height:530px;margin-top:50px">
    <br />
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align:left">Sepetim</h3>
            <br />
            @if (Model.Count() != 0)
            {
                <table class="table">
                    <tr style="text-align:center">
                        <th>

                        </th>
                        <th>
                            @Html.DisplayName("Görsel")
                        </th>
                        <th>
                            @Html.DisplayName("Ürün Adı")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Id)
                        </th>
                        <th>
                            @Html.DisplayName("Fiyatı")
                        </th>
                        <th>
                            @Html.DisplayName("Miktarı")
                        </th>
                        <th>
                            Tutar
                        </th>
                        <th>
                            İşlemler
                        </th>
                    </tr>
                    @{
                        double t = 0;
                    }

                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.Id">
                            <td></td>
                            <td>
                                <img width="90" src="~/Content/images/@item.Product.Image" alt="">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.SellPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @(item.Product.SellPrice * item.Quantity)
                            </td>
                            <td>
                                <a href="#"
                                   class="btn btn-danger"
                                   onclick="ConfirmDelete(@item.Id)">Kaldır</a>
                            </td>
                        </tr>
                        t = t + Convert.ToDouble(item.Quantity) * item.Product.SellPrice;
                    }
                </table>
                <hr />

                <div style="text-align:right;">
                    <b style="margin-right:6%"><strong>Toplam : @t </strong></b>

                    <a style="margin-right:8%" class="btn btn-success btn-lg" href="@Url.Action("ConfirmOrder","Order")" role="button">Sepeti Onayla</a>
                </div>
            }
            else
            {
                <h3>Sepetinizde ürün yok.</h3>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="modalim">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">Sil</h4>
            </div>
            <div class="modal-body">
                <h5>Silmek istediğinizden emin misiniz?</h5>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Iptal</a>
                <a href="#" class="btn btn-success" onclick="Delete()">Onay</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="Id" />
<script>
    var ConfirmDelete = function (id) {
        $("#Id").val(id);
        $("#modalim").modal('show');
    }
    var Delete = function () {
        var pId = $("#Id").val();
        $.ajax({

            type: "POST",
            url: "/Order/ShopCartDelete",
            data: { id: pId },
            success: function (result) {

                $("#modalim").modal("hide");
                $("#row_" + pId).remove();
            }
        })
    }
</script>
