@model MvcCF5.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3>Ürün Düzenleme</h3>
        <div class="content-panel">
            <div class="form-panel">
                <div class="form">
                    <form class="cmxform form-horizontal style-form" id="signupForm" method="post" action="">
                        <div class="form-group ">
                            <label for="name" class="control-label col-lg-1">Ürün Adı</label>
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <!-- type ve sup viewbag ile sonradan çek -->
                        <div class="form-group ">
                            <label for="amount" class="control-label col-lg-1">Miktar</label>
                            <div class="col-lg-1">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <label for="amount" class="control-label col-lg-1">Porsiyon(gr)</label>
                            <div class="col-lg-1">
                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group ">

                            @if (Session["Role"].ToString() == "Admin")
                            {
                                <label for="supplier" class="control-label col-lg-1">Tedarikçi</label>
                                <div class="col-lg-2">
                                    @Html.DropDownListFor(model => model.SupplierId, ViewBag.supp as SelectList, "Select", new { @class = "form-control" })
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.SupplierId)

                            }

                            <label for="category" class="control-label col-lg-1">Kategori</label>
                            <div class="col-lg-2">
                                @if (ViewBag.cat != null)
                                {
                                    @Html.DropDownListFor(model => model.CategoryId, ViewBag.cat as SelectList, "Select", new { @class = "form-control" })
                                }
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="price" class="control-label col-lg-1">Fiyatı</label>
                            <div class="col-lg-2">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <label for="sprice" class="control-label col-lg-1">S.Fiyatı</label>
                            <div class="col-lg-2">
                                @Html.EditorFor(model => model.SellPrice, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="image" class="control-label col-lg-1">Resim</label>
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="status" class="control-label col-lg-1 ">Durum</label>
                            <div class="col-lg-2">
                                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
    {
                                new SelectListItem{ Text="Aktif", Value = "True" },
                                new SelectListItem{ Text="Pasif", Value = "False" },}, new { @class = "form-control" })
                            </div>
                            <label for="date" class="control-label col-lg-1">Tarih</label>
                            <div class="col-lg-2">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="detail" class="control-label col-lg-1">Detay</label>
                            <div class="col-lg-5">
                                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", rows = "4" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="detail" class="control-label col-lg-1">Tarif</label>
                            <div class="col-lg-5">
                                @Html.TextAreaFor(model => model.Recipe, new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-1 col-lg-5">
                                <button class="btn btn-theme" type="submit">Kaydet</button>
                                @if (Session["Role"].ToString() == "Admin")
                                {
                                    <a href="@Url.Action("Index", "Product")" class="btn btn-theme04" type="button">Geri</a>
                                }
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
@if (null != ViewBag.Processed && (bool)ViewBag.Processed == true)
{
    <script type="text/javascript">
        window.close();
    </script>
}