@model MvcCF5.Models.Product

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";


    <style>
        .stem {
            margin-top: 150px;
            min-height: 530px;
        }

        .newarrival {
            background: green;
            width: 50px;
            color: white;
            font-size: 12px;
            font-weight: bold;
        }

        .oldarrival {
            background: red;
            width: 50px;
            color: white;
            font-size: 12px;
            font-weight: bold;
        }

        .suppname {
            background: green;
            width: 50px;
            color: white;
            font-size: 17px;
            font-weight: bold;
        }

        .col-md-7 {
            font-size: 17px;
            color: #555;
        }

        .price {
            color: #FE980F;
            font-size: 26px;
            font-weight: bold;
            padding-top: 20px;
        }

        .input {
            border: 1px solid #ccc;
            font-weight: bold;
            height: 33px;
            text-align: center;
            width: 30px;
        }

        .cart {
            background: #FE980F;
            color: #FFFFFF;
            font-size: 15px;
        }
    </style>

    <script>
        function popup() {
            alert("Yorumunuz gönderilmiştir. Yetkili tarafından onaylandıktan sonra görünür hale gelecektir.");
        }
    </script>
}

<div class="stem">
    <div class="row">
        @if (TempData["Message"] != null)
        {
            <h4 style="color:#00b60f;margin-left:8%;margin-top:-3%">@TempData["Message"]</h4>
        }

        <div class="col-md-5">
            <div id="my-pics" class="carousel slide" data-ride="carousel" style="width:80%;height:50%;margin:auto;">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="d-block w-100" src="~/Content/images/@Model.Image" alt="Thumbnail">
                    </div>
                    @foreach (var item in ViewBag.slider)
                    {
                        <div class="item">
                            <img class="d-block w-100" src="~/Content/images/@item" alt="Thumbnail">
                        </div>
                    }

                </div>
                <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-md-7">
            @if (Model.Status == true)
            {
                <p class="newarrival text-center">
                    Stokta
                </p>
            }
            else
            {
                <p class="oldarrival text-center">
                    Tükendi
                </p>
            }
            <h2>@Model.Name</h2>
            <p>@Model.Detail</p>

            <p class="price">@Model.SellPrice TL</p>

            <p><b>Restoran : </b><a href="@Url.Action("SupplierDetail", "Home", new { ViewBag.supp.Id })" class="suppname">@ViewBag.supp.Name</a></p>
            <hr />
            @if (ViewBag.distance != null)
            {
                <p><b>Restoran Uzaklığı : </b> @ViewBag.distance.ToString("#.##") km</p>
            }

            <p><b>Kalan : </b><b style="color:#c11313">@Model.Amount</b></p>

            <p style="width:60%"><b>İçeriği : </b>@Model.Recipe</p>
            <hr />
            <form action="@Url.Action("AddShopCart","Order")" method="get">
                <input name="id" value="@Model.Id" hidden />
                <input style="width:10%;" name="quantity" class="form-control" type="number" placeholder="Adet" required />

                <button style="margin-left:20%;" type="submit" class="btn btn-success cart">Sepete Ekle</button>

            </form>
            <br /><br />

            @if ((ViewBag.comments).Count > 0)
            {
                <p><b>Yorumlar </b></p>
                <br />
                foreach (var item in ViewBag.comments)
                {

                    <hr />
                    <p style="font-size:15px">
                        <b>@item.UserName &emsp;</b>
                        @if (item.Rate == 0)
                        {
                            <img width="20" src="~/Content/themes/assets/images/sad.png" alt="sad" />
                        }
                        else if (item.Rate == 1)
                        {
                            <img width="20" src="~/Content/themes/assets/images/neutral.png" alt="neutral" />
                        }
                        else if (item.Rate == 2)
                        {
                            <img width="20" src="~/Content/themes/assets/images/smile.png" alt="smile" />
                        }
                        else
                        {

                        }

                    </p>

                    <p style="margin-left:3%;font-size:14px;width:60%;"><i>@item.ProductComment</i></p>
                    <hr />
                }
            }
            else
            {
                <hr />
                <h4 style="margin-bottom:5%;">Bu ürüne yorum yapılmamış</h4>
            }

            @if (ViewBag.canComment == true)
            {
                <p style="font-size:15px"><b>Yorum Yap </b></p>
                <form action="@Url.Action("ProductComment", "Product", new { id = Model.Id })" method="post">
                    <p>
                        @Html.RadioButton("rate", 0, new { @required = "required" })&nbsp;<img width="20" src="~/Content/themes/assets/images/sad.png" alt="sad" />&nbsp;
                        @Html.RadioButton("rate", 1)&nbsp;<img width="20" src="~/Content/themes/assets/images/neutral.png" alt="neutral" />&nbsp;
                        @Html.RadioButton("rate", 2)&nbsp;<img width="20" src="~/Content/themes/assets/images/smile.png" alt="smile" />
                    </p>
                    <p style="width:60%;">
                        @Html.TextArea("userComment", new { @class = "form-control", rows = "3", @required = "required" })
                    </p>
                    <button style="margin-bottom:10%;" type="submit" class="btn btn-sm btn-primary">Yorumu Gönder</button>
                    <p>
                </form>
            }
        </div>
    </div>
</div>



