@model IEnumerable<MvcCF5.Models.UserAccount>

@{
    ViewBag.Title = "Üye Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper site-min-height">
        <br>

        <div class="table100 ver1 m-b-110">
            <table data-vertable="ver1">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column1" data-column="column1">Id</th>
                        <th class="column100 column2" data-column="column2">K.Adı</th>
                        <th class="column100 column3" data-column="column3">Email</th>
                        <th class="column100 column4" data-column="column4">Şifre</th>
                        <th class="column100 column4" data-column="column4">Rolü</th>
                        @*<th class="column100 column4" data-column="column5">Resim</th>*@
                        <th class="column100 column6" data-column="column6">Düzenle</th>
                        <th class="column100 column7" data-column="column7">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model)
                    {

                        <tr id="row_@item.Id" class="row100">
                            <td class="column100 column1" data-column="column1">@Html.DisplayFor(modelItem => item.Id)</td>
                            <td class="column100 column2" data-column="column2">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="column100 column3" data-column="column3">@Html.DisplayFor(modelItem => item.Email)</td>
                            <td class="column100 column4" data-column="column4">@Html.DisplayFor(modelItem => item.Password)</td>
                            <td class="column100 column4" data-column="column4">@Html.DisplayFor(modelItem => item.Role)</td>

                            @*@{
                                if (i < ViewBag.k)
                                {
                                    if (ViewBag.imlist[i].Img != null)
                                    {


                                        <td class="column100 column4" data-column="column5">
                                            <a href="javascript:openWin('@Url.Action("UserImgUpload","Home",new { id=item.Id})','','toolbar=no,location=no,directories=0,status=no,top100,left=200,menuBar=no,scrollBars=no,resizable=no,width=700,height=600');">
                                                <img height="35" src="~/Content/images/@ViewBag.imlist[i].Img">
                                            </a>
                                        </td>
                                        
                                    }
                                    else
                                    {
                                        <td class="column100 column4" data-column="column5">
                                            <a href="javascript:openWin('@Url.Action("UserImgUpload","Home",new { id=item.Id})','','toolbar=no,location=no,directories=0,status=no,top100,left=200,menuBar=no,scrollBars=no,resizable=no,width=700,height=600');">
                                                <img height="35" src="~/Content/themes/assets/images/indir.png">
                                            </a>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td class="column100 column4" data-column="column5"> <img height="35" src="~/Content/images/indir.png"></td>
                                }
                                i = i + 1;
                            }*@
                            @if (item.Role != "Admin")
                            {
                                <td class="column100 column6" data-column="column6">
                                    <a href="@Url.Action("Edit", "Home", new { id = item.Id })"
                                       class="fa fa-edit btn btn-info"></a>
                                </td>
                                <td class="column100 column7" data-column="column7">
                                    <a href="#"
                                       class="fa fa-eraser btn btn-warning"
                                       onclick="ConfirmDelete(@item.Id)"></a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    Yetkili Kullanıcı
                                </td>
                                <td>
                                    Düzenleme Yapılamaz
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <!-- /wrapper -->
</section>
<div class="modal fade" id="modalim">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">Sil</h4>
            </div>
            <div class="modal-body">
                <h5>Silmek istediğinizden emin misiniz?</h5>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Iptal</a>
                <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Onay</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="Id" />
<script>

    var ConfirmDelete = function (id) {

        $("#Id").val(id);
        $("#modalim").modal('show');

    }

    var DeleteEmployee = function () {


        var pId = $("#Id").val();

        $.ajax({

            type: "POST",
            url: "/Home/Delete",
            data: { id: pId },
            success: function (result) {

                $("#modalim").modal("hide");
                $("#row_" + pId).remove();

            }

        })

    }
</script>
